<nav class="row navbar navbar-expand-lg navbar-dark bg-primary">
<div class="container-fluid">
    <a class="navbar-brand" href="#">DAB concept</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="w-100 d-flex justify-content-between">
            <div class="left__nav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" href="#contact_us">Contact Us!</a>
                    </li>
            </ul>
            </div>
            <div class="right__nav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Members
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a routerLink="dan" class="dropdown-item" href="#">Daniyar</a></li>
                            <li><a routerLink="adil" class="dropdown-item" href="#">Adil</a></li>
                            <li><a routerLink="beka" class="dropdown-item" href="#">Bekzat</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#general_of_members">General</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Socials
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">GitHub</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                    <a routerLink="auth" class="nav-link active" href="#">Authorization</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</nav>
